# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

NameError: name 'cars' is not defined

In [4]:
### your code is here cars.groupby('Model')
cars['Model'].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

group by the data by the Make  using count function

In [5]:
len(cars['Make'].value_counts()) #number of Makes

127

In [6]:
len(cars['Model'].value_counts()) #number of Models

3608

In [7]:
#pandas series
df2 = cars.groupby(['Make'])['Model'].count().reset_index()
df2 #counting the number of cars per company

                            Make  Model
0                     AM General      4
1               ASC Incorporated      1
2                          Acura    302
3                     Alfa Romeo     41
4    American Motors Corporation     22
..                           ...    ...
122                   Volkswagen   1047
123                        Volvo    717
124        Wallace Environmental     32
125                         Yugo      8
126                        smart     20

[127 rows x 2 columns]

In [8]:
#we group by  cars.groupby('Make')[['Model']].count()
cars.groupby('Make')[['Model']].count()

                             Model
Make
AM General                       4
ASC Incorporated                 1
Acura                          302
Alfa Romeo                      41
American Motors Corporation     22
...                            ...
Volkswagen                    1047
Volvo                          717
Wallace Environmental           32
Yugo                             8
smart                           20

[127 rows x 1 columns]

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [9]:
### your code us here
cars.groupby('CO2 Emission Grams/Mile')['CO2 Emission Grams/Mile'].apply(lambda x:x*1.60934)

0         841.306152
1        1100.169583
2         893.887786
3        1100.169583
4         893.887786
            ...
35947     392.678960
35948     391.069620
35949     392.678960
35950     395.897640
35951     410.381700
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [21]:
cars['CO2 Emission Grams/Km'] = cars ['CO2 Emission Grams/Km']/ 1.60934 #Convert CO2 Emissions from Grams/Mile to Grams/Km
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,125.418858,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,164.009276,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,133.257536,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,164.009276,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,133.257536,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,58.539150,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,58.299235,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,58.539150,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,59.018979,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,61.178210,1150

In [10]:
cars.rename(columns = {'CO2 Emission Grams/Mile': "CO2 Emission Grams/Km"}, inplace = True)
cars
#renaming the HL

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [11]:
#creating a new column 
#cars['CO2 Emission Grams/Mile'] = cars['CO2 Emission Grams/Km'].apply
#cars

In [12]:
#cars.groupby('CO2 Emission Grams/Mile')['CO2 Emission Grams/Mile'].apply(lambda x:x*1.60934)

In [13]:
cars.groupby(['City MPG','Highway MPG','Combined MPG'])[['City MPG','Highway MPG','Combined MPG']].apply(lambda x:x*1.60934/3.78541)

        City MPG  Highway MPG  Combined MPG
0       7.652571     7.227428      7.227428
1       5.526857     5.526857      5.526857
2       6.802286     7.227428      6.802286
3       5.526857     5.526857      5.526857
4       5.952000     8.928000      6.802286
...          ...          ...           ...
35947  14.454857    16.155428     15.305143
35948  14.454857    16.155428     15.305143
35949  14.454857    16.155428     15.305143
35950  14.454857    16.580571     15.305143
35951  13.604571    16.580571     14.880000

[35952 rows x 3 columns]

What brand has the most cars?

In [14]:
#we have found the make with the largest number of cars
x = cars['Make'].value_counts()
y = x.idxmax(axis =0)

print(y)

Chevrolet

In [15]:
#In order to know how many Chevrolet are there in the data
df2.loc[df2['Make'] == 'Chevrolet']

         Make  Model
20  Chevrolet   3643

<b>show the average CO2_Emission_Grams/Km  by Brand

In [16]:
### defining function for emisson avr 
def Emission_avg(grps):
    return grps.mean()

In [22]:
cars.groupby("Make")[["CO2 Emission Grams/Km"]].mean()

                             CO2 Emission Grams/Km
Make
AM General                              146.673736
ASC Incorporated                        133.257536
Acura                                   101.384367
Alfa Romeo                              111.308862
American Motors Corporation             121.338899
...                                            ...
Volkswagen                               94.224452
Volvo                                   104.555661
Wallace Environmental                   157.861380
Yugo                                     85.425955
smart                                    59.266224

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [47]:
### your code us here
cars.groupby("Make")[["CO2 Emission Grams/Km"]].mean().sort_values(by='CO2 Emission Grams/Km')

                                    CO2 Emission Grams/Km
Make
Fisker                                          40.545559
smart                                           59.266224
Fiat                                            73.093940
Daihatsu                                        74.418628
MINI                                            75.265239
...                                                   ...
Laforza Automobile Inc                         193.829144
Bugatti                                        209.460395
Superior Coaches Div E.p. Dutton               213.212058
S and S Coach Company  E.p. Dutton             213.212058
Vector                                         251.708680

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
cars['Year'].describe()

In [ ]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here